@model ApplicationCore.Models.MovieDetailsModel

<div class="">
    <div class="movie-details-banner-background position-absolute" style="background-image: url(@Model.BackdropUrl)">
    </div>
    <div class="movie-details position-relative">
        <div class="row d-flex flex-wrap">
            <div class="col-12 col-md-4 text-center text-md-end">
                <img src="@Model.PosterUrl" class="image-fluid" alt="@Model.Title" title="@Model.Title" height="320px"/>
            </div>
        
            <div class="col-12 col-md-6 text-start text-white px-5 py-1 d-none d-md-block">
                <h3>@Model.Title</h3>
                
                <p class="text-muted" style="font-size: 12px">@Model.Tagline</p>
                
                <div class="d-flex justify-content-between text-muted mb-2">
                    <div class="align-content-center">@Model.RunTime m | @Model.ReleaseDate.Value.Year</div>
                    <div class="align-content-center">
                        @foreach (var genre in @Model.Genres)
                        {
                            <span class="badge rounded-pill bg-secondary">
                                @genre.Name
                            </span>
                        }
                    </div>
                </div>
                
                <div class="badge bg-success mb-2">8.9</div>
                
                <div class="fs-6">
                    @Model.Overview
                </div>
            </div>
        
            <div class="col-12 col-md-2 text-center px-2 pt-5 d-none d-md-block">
                <button type="button" data-bs-toggle="modal" data-bs-target="#reviewModal" class="w-100 btn btn-sm btn-outline-secondary bg-link text-decoration-none text-white mb-4 py-0">
                    <i class="fa-regular fa-pen-to-square"></i> REVIEW
                </button>
                <button type="button" data-bs-toggle="modal" data-bs-target="#buyModal" class="w-100 btn btn-sm bg-light mb-4 py-0">
                    BUY $@Model.Price
                </button>
            </div>
        </div>
    </div>
    
    <div class="w-100 text-start text-dark px-5 py-1 d-md-none">
        <h3>@Model.Title</h3>
                    
        <p class="text-muted" style="font-size: 12px">@Model.Tagline</p>
                    
        <div class="d-flex justify-content-between text-light mb-2">
            <div class="align-content-center">@Model.RunTime m | @Model.ReleaseDate.Value.Year</div>
            <div class="align-content-center">
                @foreach (var genre in @Model.Genres)
                {
                    <span class="badge rounded-pill bg-secondary">
                        @genre.Name
                    </span>
                }
            </div>
        </div>
                    
        <div class="badge bg-success mb-2">8.9</div>
                    
        <div class="fs-6">
            @Model.Overview
        </div>
    </div>
            
    <div class="w-100 text-center px-2 pt-5 d-md-none">
        <button type="button" data-bs-toggle="modal" data-bs-target="#reviewModal" class="w-100 btn btn-outline-secondary bg-link text-dark text-decoration-none mb-4 py-0">
            <i class="fa-regular fa-pen-to-square"></i> REVIEW
        </button>
        <button type="button" data-bs-toggle="modal" data-bs-target="#buyModal" class="w-100 btn bg-dark text-white mb-4 py-0">
            BUY $@Model.Price
        </button>
    </div>
</div>


<!-- Review Modal -->
<div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewModalLabel">Rate this movie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="dropdown mb-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Your Rating
                    </button>
                    <ul class="dropdown-menu">
                        @for (int i = 1; i <= 10; i++)
                        {
                            <li><a class="dropdown-item" href="#">@i</a></li>
                        }
                    </ul>
                </div>
                
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Write your comments</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>


<!-- Buy Modal -->
<div class="modal fade" id="buyModal" tabindex="-1" aria-labelledby="buyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="buyModalLabel">Purchase</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Title: <b>@Model.Title</b></li>
                        <li class="list-group-item">Price: $<b>@Model.Price</b></li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Purchase</button>
            </div>
        </div>
    </div>
</div>