@model ApplicationCore.Models.PagedResultSet<ApplicationCore.Models.MovieCardPurchasedModel>

@{
    ViewData["Title"] = "Your Library";
}

<div class="rounded">
    <div class="container-fluid">
        <div class="row">
            <h4>Your Library :  @Model.TotalRowCount</h4>
            @foreach (var movieCard in Model?.Data)
            {
                <div class="col-12 col-sm-6 col-lg-3 col-xl-2 text-center">
                    @* call the partial view *@
                    <partial name="_MovieCardPurchased" model="movieCard"/>
                    
                </div>
            }
        </div>
    </div>
    
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item @prevDisabled">
                <a class="page-link" asp-controller="Movies" asp-action="All" asp-route-page="@(Model.PageIndex - 1)">Previous</a>
            </li>
                
            @{
                for (int i = 1; i <= Model.TotalPages; i++)
                {
                    var currentPageHighlight = (i == Model.PageIndex) ? "active" : "";
                        
                    <li class="page-item @currentPageHighlight">
                        <a class="page-link" asp-controller="Movies" asp-action="All" asp-route-page="@i">@i</a>
                    </li>
                }
            }
                
            <li class="page-item @nextDisabled">
                <a class="page-link" asp-controller="Movies" asp-action="All" asp-route-page="@(Model.PageIndex + 1)}">Next</a>
            </li>
        </ul>
    </nav>
</div>